title: 360 Web Boy - 专注web开发,web前端开发,分享web开发技术
keywords: php 开发,php web开发,web开发,web前端开发,web开发技术
---
<div class="row-fluid">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-hot" data-toggle="tab">热门的</a></li>
            <li><a href="#tab-classic" data-toggle="tab">收藏的</a></li>
            <li><a href="#tab-handbook" data-toggle="tab">推荐手册</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active clearfix" id="tab-hot">
                <ul class="thumbnails">
                  <li class="span3 box1">
                    <div class="thumbnail">
                      <img alt="php session的本质" src="/media/img/the_truth_about_sessions.png" />
                      <div class="caption clearfix">
                        <h4><strong>你必须了解的session的本质</strong></h4>
                        <p>有一点我们必须承认，大多数web应用程序都离不开session的使用。这篇文章将会结合php以及http协议来分析如何建立一个安全的会话管理机制。</p>
                        <p class="pull-right"><a class="btn btn-info" href="./php/page1/session-enssence.html">阅读</a></p>
                      </div>
                      <i class="hot"></i>
                    </div>
                  </li>
                  <li class="span3 box2">
                    <div class="thumbnail">
                      <img alt="深入浅出PHP下的文件上传" src="/media/img/file_upload.jpeg" />
                      <div class="caption clearfix">
                        <h4><strong>深入浅出PHP下的文件上传</strong></h4>
                        <p>文件作为一种特殊的表单数据，通过http post请求方式提交至服务器的时候，php会生成一个$_FILES全局数组，相关的文件信息会存放在这个全局数组中。</p>
                        <p class="pull-right"><a class="btn btn-primary" href="./php/page1/file-upload.html">阅读</a></p>
                      </div>
                      <i class="hot"></i>
                    </div>
                  </li>
                  <li class="span3 box5">
                    <div class="thumbnail">
                      <img alt="简述Php中cURL的使用" src="/media/img/curl.png">
                      <div class="caption clearfix">
                        <h4><strong>简述Php中cURL的使用方法</strong></h4>
                        <p>起先cURL是做为一种命令行工具设计出来的。通过cURL这个利器，我们能在php程序中自由地发送HTTP请求到某个url来获取或者提交数据，</p>
                        <p class="pull-right"><a class="btn btn-success" href="./php/page1/curl.html">阅读</a></p>
                      </div>
                      <i class="hot"></i>
                    </div>
                  </li>
                  
                  <li class="span3 box6">
                    <div class="thumbnail">
                      <img alt="你必须了解的session的本质- 续篇1 – 固定会话ID" src="http://pic.yupoo.com/sinaweibo1623108588_v/D73fiQB3/GyEa4.png" />
                      <div class="caption clearfix">
                        <h4><strong>Session固定会话ID</strong></h4>
                        <p>我们来谈谈攻击session的方法之一 – 固定会话ID。 这种攻击方式的核心要点就是让合法用户使用攻击者预先设定的session ID来访问被攻击的应用程序。</p>
                        <p class="pull-right"><a class="btn btn-warning" href="./php/page1/session-hijack.html">阅读</a></p>
                      </div>
                      <i class="hot"></i>
                    </div>
                  </li>
              </ul>
              <ul class="thumbnails">
                <li class="span3 box7">
                    <div class="thumbnail">
                      <img src="/media/img/prototype-chain.png" />
                      <div class="caption clearfix">
                        <h4><strong>深入Javacript之Prototype</strong></h4>
                        <p>对于javascript, 个人觉得，要真正的理解其oop, 就必须要彻底搞清楚javascript的对象，原型链，作用域，闭包，以及this所引用的对象等概念</p>
                        <p class="pull-right"><a class="btn btn-info" href="./front/page1/prototype.html">阅读</a></p>
                      </div>
                      <i class="hot"></i>
                    </div>
                </li>
                
                <li class="span3 box1">
                    <div class="thumbnail">
                      <img src="http://pic.yupoo.com/sinaweibo1623108588_v/D73pKNOG/15l3Kp.jpg" />
                      <div class="caption clearfix">
                        <h4><strong>深入Javascript之执行上下文</strong></h4>
                        <p>执行上下文 – Javascript中最基础也是最重要的一个概念。相信读完这篇文章后，你就会明白javascript引擎内部在执行代码以前到底做了些什么</p>
                        <p class="pull-right"><a class="btn btn-info" href="./front/page1/execution-context.html">阅读</a></p>
                      </div>
                      <i class="hot"></i>
                    </div>
                </li>
              </ul>
            </div>
            <div class="tab-pane" id="tab-classic">
                <ul class="thumbnails">
                  <li class="span3 box2">
                      <div class="thumbnail">
                        <img src="http://pic.yupoo.com/sinaweibo1623108588_v/DckmkVlZ/15ptrv.png" />
                        <div class="caption clearfix">
                          <h4><strong>分享几款靠谱的php类库</strong></h4>
                          <p>面向对象的编程的最大优点就是可以让你使用第三方的类库，不需要重复地发明轮子，大大地简化以及加快你的开发过程。下面，我收集几个貌似比较靠谱的类库，分享下，希望对你有用</p>
                          <p class="pull-right"><a class="btn btn-info" href="/opensource/page1/8php-libs.html">阅读</a></p>
                        </div>
                      </div>
                  </li>
                </ul>
            </div>
            <div class="tab-pane" id="tab-handbook">
                <ul class="thumbnails">
                    <li class="span3 box2">
                        <div class="thumbnail">
                          <img src="http://pic.yupoo.com/sinaweibo1623108588_v/D7MOtEaz/11WEAP.png" />
                          <div class="caption clearfix">
                            <h4><strong>Git简明参考手册</strong></h4>
                            <p>Git 参考手册。目的是为学习与记忆 Git 使用中最重要、最普遍的命令提供快速翻阅。 这些命令以你可能需要的操作类型划分，并且将提供日常使用中需要的一些常用的命令以及参数</p>
                            <p class="pull-right"><a class="btn btn-info" href="./handbook/git/easyguide/index.html">阅读</a></p>
                            <i class="new"></i>
                          </div>
                        </div>
                    </li>
                    <li class="span3 box1">
                        <div class="thumbnail">
                          <img src="http://pic.yupoo.com/sinaweibo1623108588_v/DbkpjPfT/medium.jpg" />
                          <div class="caption clearfix">
                            <h4><strong>zepto 简明中文手册</strong></h4>
                            <p>Zepto是一个轻量级的针对现代高级浏览器,Zepto是一个轻量级的针对现代高级浏览器。设计的目的是提供jquery的类似的APIs，大小只有一个5-10k的通用库</p>
                            <p class="pull-right"><a class="btn" href="./handbook/zepto/index.html">阅读</a></p>
                          </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>