<div class="container-fluid footer">
    <div class="row-fluid">
        <div class="span3">
            <h5>目录</h5>
            <ul>
                <li><i class="icon-tag"></i><a href="/php">Php</a></li>
                <li><i class="icon-tag"></i><a href="/front">前端开发</a></li>
                <li><i class="icon-tag"></i><a href="/database">数据库</a></li>
                <li><i class="icon-tag"></i><a href="/framework">架构</a></li>
                <li><i class="icon-tag"></i><a href="/operation-system">操作系统</a></li>
                <li><i class="icon-tag"></i><a href="/opensource">开源</a></li>
            </ul>
        </div>
        
        <div class="span3">
            <h5>文章</h5>
            <ul>
                <li><i class="icon-file"></i><a href="/php/session-enssence/">你必须了解的session的本质</a></li>
                <li><i class="icon-file"></i><a href="/php/file-upload">深入浅出PHP下的文件上传</a></li>
                <li><i class="icon-file"></i><a href="/php/curl">简述Php中cURL的使用</a></li>
                <li><i class="icon-file"></i><a href="/php/session-hijack">session固定会话id</a></li>
                <li><i class="icon-file"></i><a href="/front/prototype">深入javacript之prototype</a></li>
                <li><i class="icon-file"></i><a href="/front/execution-context">深入javascript之执行上下文</a></li>
            </ul>
        </div>
        
        <div class="span3 friend-links">
            <h5>友情链接</h5>
            <ul>
                <li><i class="icon-bookmark"></i><a href="http:/read.cn/" target="_blank">IT技术博客大学习</a></li>
                <li><i class="icon-bookmark"></i><a href="http://pangee.me/" target="_blank">pangee</a></li>
                <li><i class="icon-bookmark"></i><a href="http://www.queyang.com/" target="_blank">缺氧空间</a></li>
                <li><i class="icon-bookmark"></i><a href="http://www.clanfei.com/" target="_blank">蓝飞技术部落格</a></li>
                <li><i class="icon-bookmark"></i><a href="http://www.diaoyude.cn/" target="_blank">DiaoYuDe</a></li>
                <li><i class="icon-bookmark"></i><a href="http://wangningmei.is-programmer.com/" target="_blank">Anitee0208's Blog</a></li>
                <li><i class="icon-bookmark"></i><a href="http://icementor.com/" target="_blank">随风的李</a></li>
                <li><i class="icon-bookmark"></i><a href="http://www.cnblogs.com/weidagang2046/" target="_blank">Todd Wei</a></li>
                <li><i class="icon-bookmark"></i><a href="http://www.byends.com/" target="_blank">彼岸雨云</a></li>
                <li><i class="icon-bookmark"></i><a href="http://xuezaijiongtu.blog.163.com/" target="_blank">学在囧途</a></li>
            </ul>
        </div>
        
        <div class="span3">
            <h5>联系方式</h5>
            <ul>
                <li><i class="icon-envelope"></i>邮箱：360weboy@sina.com</li>
                <li><i class="icon-share"></i>新浪微博：<a href="http://weibo.com/360weboy" target="_blank">http://weibo.com/360weboy</a></li>
                <li><i class="icon-comment"></i>QQ群：197642724</li>
            </ul>
        </div>
        
    </div>
    
     <p>Copyright © 2012 360weboy</p>
</div>