<ul class="nav nav-list">
    <li class="nav-header">
        <a href="./create.html"><i class="icon-hand-right"></i>获取与创建项目</a>
    </li>
    <li>
        <a href="./create.html#init">init</a>
    </li>
    <li>
        <a href="./create.html#clone">clone</a>
    </li>
    
    <li class="divider"></li>
    
    <li class="nav-header">
        <a href="./basic.html"><i class="icon-hand-right"></i>基本的快照</a>
    </li>
    <li>
        <a href="./basic.html#add">add</a>
    </li>
    <li>
        <a href="./basic.html#status">status</a>
    </li>
    <li>
        <a href="./basic.html#diff">diff</a>
    </li>
    <li>
        <a href="./basic.html#commit">commit</a>
    </li>
    <li>
        <a href="./basic.html#reset">reset</a>
    </li>
    <li>
        <a href="./basic.html#rm">rm, mv</a>
    </li>
    
    <li class="divider"></li>
    
    <li class="nav-header">
        <a href="./branch.html"><i class="icon-hand-right"></i>分支与合并</a>
    </li>
    <li>
        <a href="./branch.html#branch">branch</a>
    </li>
    <li>
        <a href="./branch.html#branch">checkout</a>
    </li>
    <li>
        <a href="./branch.html#merge">merge</a>
    </li>
    <li>
        <a href="./branch.html#log">log</a>
    </li>
    <li>
        <a href="./branch.html#tag">tag</a>
    </li>
    
    <li class="divider"></li>
    
    <li class="nav-header">
        <a href="./share.html"><i class="icon-hand-right"></i>分享与更新项目</a>
    </li>
    <li>
        <a href="./share.html#fetch-pull">fetch, pull</a>
    </li>
    <li>
        <a href="./share.html#push">push</a>
    </li>
    <li>
        <a href="./share.html#remote">remote</a>
    </li>
</ul>