<ul class="thumbnails tilemenus">
    <li class="span2 tile tile-orange">
        <a href="/" >
            <img src="/media/img/home-48.png">

            <h2 class="tile-text">首页</h2>
        </a>
    </li>
    <li class="span2 tile">
        <a href="/php" >
            <img src="/media/img/variable-48.png">

            <h2 class="tile-text">PHP</h2>
        </a>
    </li>
    <li class="span2 tile tile-green">
        <a href="/front" >
            <img src="/media/img/console-48.png">

            <h2 class="tile-text">前端</h2>
        </a>
    </li>
    <li class="span2 tile tile-lime">
        <a href="/" >
            <img src="/media/img/database-48.png">

            <h2 class="tile-text">数据库</h2>
        </a>
    </li>
    <li class="span2 tile tile-purple">
        <a href="/system/" >
            <img src="/media/img/framework-48.png">

            <h2 class="tile-text">系统</h2>
        </a>
    </li>
    <li class="span2 tile tile-teal opensource">
        <a href="/" >
            <img src="/media/img/github-48.png">

            <h2 class="tile-text">开源</h2>
        </a>
    </li>
    <li class="span2 tile tile-teal">
        <a href="/handbook" >
            <img src="/media/img/book-48.png">

            <h2 class="tile-text">手册</h2>
        </a>
    </li>
</ul>