<div class="container-fuid menubar">
    <div class="row-fluid">
        <div class="pull-left navbar">
          <div class="navbar-inner">
                <a class="brand" href="/"><img width="24" height="24" src="http://pic.yupoo.com/sinaweibo1623108588_v/D70ONN0J/thumb.jpg" /><strong>360weboy</strong></a>
                <ul class="nav">
                    <li class="active">
                        <a href="/" >首页</a>
                    </li>
                    <li>
                        <a href="/php" >PHP</a>
                    </li>
                    <li>
                        <a href="/front" >前端</a>
                    </li>
                    <li>
                        <a href="/db" >数据库</a>
                    </li>
                    <li>
                        <a href="/system" >系统</a>
                    </li>
                    <li>
                        <a href="/opensource" >开源</a>
                    </li>
                    <li>
                        <a href="/handbook" >手册</a>
                    </li>
                </ul>
          </div>
        </div>
        <div class="btn-group pull-right mobile-menus">
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                <i class="icon-list"></i>
              </button>
              <ul class="dropdown-menu nav nav-list">
                    <li>
                        <a href="/" >首页</a>
                    </li>
                    <li>
                        <a href="/php" >PHP</a>
                    </li>
                    <li>
                        <a href="/front" >前端</a>
                    </li>
                    <li>
                        <a href="/db" >数据库</a>
                    </li>
                    <li>
                        <a href="/system" >系统</a>
                    </li>
                    <li>
                        <a href="/opensource" >开源</a>
                    </li>
                    <li>
                        <a href="/handbook" >手册</a>
                    </li>
              </ul>
        </div>
    </div>
</div>