title: 360weboy - 系统
keywords: linux系统,linux教程,操作系统,unbuntu教程
---
<div class="row-fluid">
    <ul class="thumbnails">
        <li class="span3 box7">
            <div class="thumbnail">
              <img src="http://pic.yupoo.com/sinaweibo1623108588_v/D7iEG6sV/Oz4Bx.png" />
              <div class="caption clearfix">
                <h4><strong>Ubuntu下安装Sublime Text2</strong></h4>
                <p>Sublime Text2这个编辑器据说非常好用。今天从http://www.sublimetext.com/下载了一个最新的包在ubuntu下安装了下，分享下安装的具体步骤。</p>
                <p class="pull-right"><a class="btn btn-info" href="./page1/install-sublime.html">阅读</a></p>
              </div>
            </div>
        </li>
    </ul>
</div>