title: 获取与创建项目
path: easyguide
keywords: git获取与创建项目,git初始化
permalink: /handbook/git/:path/create.html
---
<div class="row-fluid">
    <div class="span2 guide-siderbar">
        {% include 'layouts/git-sidebar.twig'%}
    </div>
    
    <div class="span10 guide-content">
        <h3>获取与创建项目</h3>
        
        <p>你得先有一个 Git 仓库，才能用它进行操作。仓库是 Git 存放你要保存的快照的数据的地方。</p>
        <p>拥有一个 Git 仓库的途径有两种。在已有的目录中，初始化一个新的，其一。 比如一个新的项目，或者一个已存在的项目，但该项目尚未有版本控制。如果你想要复制一份别人的项目， 或者与别人合作某个项目，也可以从一个公开的 Git 仓库克隆，其二。本章将对两者都做介绍。</p>
        
        <h3 id="init">git init 将一个目录初始化为 Git 仓库</h3>
        <p>在目录中执行 git init，就可以创建一个 Git 仓库了。比如，我们恰好有个目录，里头有些许文件，如下：</p>
<pre>
<code data-language="shell">
$ cd konichiwa
$ ls
README   hello.rb
</code>
</pre>
        <p>在这个项目里头，我们会用各种编程语言写 "Hello World" 实例。 到目前为止，我们只有 Ruby 的，不过，这才刚上路嘛。为了开始用 Git 对这个项目作版本控制，我们执行一下 <em>git init</em>。</p>
<pre>
<code data-language="shell">
$ git init
Initialized empty Git repository in /opt/konichiwa/.git/
# 在 /opt/konichiwa/.git 目录初始化空 Git 仓库完毕。
</code>
</pre>
        <p>现在你可以看到在你的项目目录中有个 .git 的子目录。 这就是你的 Git 仓库了，所有有关你的此项目的快照数据都存放在这里。</p>
<pre>
<code data-language="shell">
$ ls -a
.        ..       .git     README   hello.rb
</code>
</pre>
        <p>恭喜，现在你就有了一个 Git 仓库的架子，可以开始快照你的项目了。</p>
        <p class="alert alert-success">简而言之，用 git init 来在目录中创建新的 Git 仓库。 你可以在任何时候、任何目录中这么做，完全是本地化的。</p>
        
        <h3 id="clone">git clone 复制一个 Git 仓库，以上下其手</h3>
        <p>如果你需要与他人合作一个项目，或者想要复制一个项目，看看代码，你就可以克隆那个项目。 执行 git clone [url]，[url] 为你想要复制的项目，就可以了</p>
<pre>
<code data-language="shell">
$ git clone git://github.com/schacon/simplegit.git
Initialized empty Git repository in /private/tmp/simplegit/.git/
remote: Counting objects: 100, done.
remote: Compressing objects: 100% (86/86), done.
remote: Total 100 (delta 35), reused 0 (delta 0)
Receiving objects: 100% (100/100), 9.51 KiB, done.
Resolving deltas: 100% (35/35), done.
$ cd simplegit/
$ ls
README   Rakefile lib
</code>
</pre>
        <p>上述操作将复制该项目的全部记录，让你本地拥有这些。并且该操作将拷贝该项目的主分支， 使你能够查看代码，或编辑、修改。进到该目录中，你会看到 .git 子目录。 所有的项目数据都存在那里。</p>
<pre>
<code data-language="shell">
$ ls -a
.        ..       .git     README   Rakefile lib
$ cd .git
$ ls
HEAD        description info        packed-refs
branches    hooks       logs        refs
config      index       objects
</code>
</pre>
        <p>默认情况下，Git 会按照你提供的 URL 所指示的项目的名称创建你的本地项目目录。 通常就是该 URL 最后一个 / 之后的任何东西。如果你想要一个不一样的名字， 你可以在该命令后加上它，就在那个 URL 后面。
        </p>
        <p class="alert alert-success">简而言之，使用 git clone 拷贝一个 Git 仓库到本地，让自己能够查看该项目，或者进行修改。</p>
        <p class='more'><a href="./basic.html" class="btn btn-large btn-success"><i class="icon-arrow-right"></i>接下来：基本快照»</a></p>
    </div>
</div>