title: 分享几款靠谱的php类库
path: page1
keywords: php类库,PHP Library,Php Error,Php Thumb, php Detector
permalink: /opensource/:path/8php-libs.html
---
<h2>靠谱的php类库 - 你值得尝试</h2>

{% include 'layouts/publish.twig'%}

<hr />

<p>面向对象的编程的最大优点就是可以让你使用第三方的类库，不需要重复地发明轮子，大大地简化以及加快你的开发过程。下面，我收集了8个貌似比较靠谱的类库，分享给你，希望对你有用！</p>

<h3>1. PhpFastCache</h3>

<img alt="PhpFastCache" src="http://pic.yupoo.com/sinaweibo1623108588_v/DckmkVlZ/15ptrv.png" class="img-polaroid" />

<p>phpfastcache宣称自己是高性能的对象缓存系统。通过减轻database load来加快提高动态应用程序的性能。支持APC,Xcache,MemCache,MemCached,WinCache以及Files.使用phpfastcache后，你不必在每次更换服务器以后重写caching class。</p>

<p class="clearfix"><a class="btn btn-primary pull-left" href="http://www.phpfastcache.com/" target="_blank">主站</a></p>

<hr />

<h3>2. Whoops: 用于错误调试的类库</h3>

<img alt="Whoops" src="http://filp.github.io/whoops/screen.png" class="img-polaroid" />

<p>这个类库很实用，可以使你项目中的错误处理以及debug变的异常轻松。并且支持基于栈的错误处理机制，错误的报告界面看起来也很舒服。处理exception的API也很简单，你可以尝试把它整合到你的项目中。</p>

<p class="clearfix"><a class="btn btn-primary pull-left" href="http://filp.github.io/whoops/" target="_blank">主站</a></p>

<hr />

<h3>3. Detector</h3>

<img alt="Detector" src="http://pic.yupoo.com/sinaweibo1623108588_v/DcoEbXLA/zjYFP.png" class="img-polaroid" />

<p>Detector是github上开源的类库，主要用于探测客户端的环境信息，比如浏览器的html5&css3的支持，是否支持cookie，具体的设备类型 - 手机，平板，PC。还可以获取一些其它的信息，自己看下文档试用下吧。</p>

<p class="clearfix"><a class="btn btn-primary pull-left" href="http://detector.dmolsen.com/" target="_blank">主站</a></p>

<hr />

<h3>4. PHP Error</h3>

<img alt="PHP Error<" src="http://pic.yupoo.com/sinaweibo1623108588_v/DcoG7tTw/MGUTU.png" class="img-polaroid" />

<p>PHP Error也是一款不错的开源的错误处理类，更详细的错误信息，语法高亮显示，代码片段，以及支持AJAX请求的错误反馈。可以参考github上的文档。</p>

<p class="clearfix"><a class="btn btn-primary pull-left" href="http://phperror.net/" target="_blank">主站</a></p>

<p>很有必要收集一些好的类库，一般可以到比较火的github上去寻找，如果被fork, star的次数比较多的话，就说明一定是一个不错的开源类库，建议可以关注下。</p>